section
{
  padding: 40px 0;
}

section#szakasz-kezdo 
{
  background-image: url('https://images.pexels.com/photos/702251/pexels-photo-702251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Century Gothic"
}

.jumbotron 
{
  background-color: rgba(255,255,255,.5);
  
}

.navbar
{
  font-family: "Century Gothic";
  background-color: #4d3339
}

body 
{
  background-color: #d4c9bf;
  font-family: "Century Gothic"
}

/* unvisited link */
a:link {
  color: #793a57;
}

/* visited link */
a:visited {
  color: #793a57;
}

/* mouse over link */
a:hover {
  color: #4d3339;
}

.kepgaleria div 
{
  margin: 1em 0;
}